body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px 2800px 200px;
    grid-template-areas: 
        header header header
        link main ancor
        footer footer footer
        ;
} */
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}

header{
    grid-area: header;
    display: flex;
}

header .logo img{
    height: 50px;
    width: 50px;
}

header .img-titulo {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;
}
main {
    grid-area: main;
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.article {
    width: 220px;
    height: 220px;
    border: 1px solid #CCCCCC;
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 50px;
}

.article img{
    width: 220px;
}

.jogabilidade {
    display: flex;
}

.jogabilidade-dois{
    display: flex;
}

.footer {
    grid-area: footer;
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
 
}
figure {
    text-align: center;
}

.sidebar {
    position: static;
}